:root {
  --primary-color: #4e9591;
  --background-color: #fff;
  --text-color: #1f1f1e;
}

.display {
  display: flex;
  min-height: 90vh;
  justify-content: center;
}

.dark {
  background-color: #1f1f1e;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #1f1f1e;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
